/* installed font */
@font-face {
    font-family: futura;
    src: url(../font/FutuLt.ttf);
}

@font-face {
    font-family: righteous;
    src: url(../font/Righteous-Regular.ttf);
}

body{
    max-width: 360px;
    max-height: 640px;
}

@media only screen and (min-width: 361px) {
    body {
        background-color: lightblue;
        margin: 0 auto;
    }
}
/* .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.banner{
    width: 360px;
    height: 640px;
    background-color: #6E6E6E;
}

.box{
    padding-top:1px;
}

.banner-title{
    font-family: righteous, sans-serif;
    font-size: 36px;
    line-height: 40px;
    border-left: 3px solid white;
    padding-left: 10px;
    margin-top: 379px;
    color: white;
}

p.banner-title span {
    font-size: 34px;
}

.banner-subtitle {
    font-family: futura, sans-serif;
    font-size: 15px;
    padding-left: 15px;
    color: white;
}

.menu {
    width: 360px;
    height: 640px;
    background-color: #F5F5F5;
    position: relative;
    margin: auto;
}

.menu-title {
    font-family: righteous, sans-serif;
    font-size: 29px;
    margin-top: 30px;
    padding-left: 0px;
    color: #707070;
    text-align: center;
}

.menu-subtitle {
    font-family: futura, sans-serif;
    font-size: 15px;
    padding-left: 0px;
    color: #707070;
    text-align: center;
    padding: 0 45px;
}

.menu-img {
    background-color: #6e6e6e;
    height: 420px;
    width: 360px;
    margin-top: 25px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.footer {
    width: 360px;
    height: 640px;
    background-color: #F5F5F5;
}

.footer-img-box{
    margin: 0 auto;
    width: 284px;
    height: 199px;
}

.footer-img-box img{
    width: 100%;
    margin-top: 30px;
}

.footer-title{
    font-family: righteous;
    font-size: 29px;
    text-align: center;
    color: #707070;
    margin-top: 75px;
}

.footer-subtitle{
    font-family: futura;
    font-size: 15px;
    text-align: center;
    color: #707070;
    padding: 0 45px; 
}

.social-media-icon{
    width: 25px;
    height: 25px;
    margin: 40px 10px 0;
}

.social-media-icon a svg{
    color: #707070;
}

.footer-year{
    font-family: futura;
    font-size: 12px;
    color: #6E6E6E;
    text-align: center;
    line-height: 15px;
    margin-top: 70px;
}